/*Some style*/
.info{
    display: flex;
    justify-content: center;
    /*dkashdakjshd*/
}

table {
    font-family: "Verdana", cursive, sans-serif;
    background-color: rgb(225, 247, 255);
    width: 70%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 40px;
    box-shadow: 7px 7px 13px rgb(84, 84, 84);
}

table th{
    height: 30px;
    background-color: skyblue;
    color: rgb(85, 85, 85);
}

table td, table th {
    border: 1px solid rgb(192, 233, 255);
    padding: 3px 2px;
}

table th:nth-child(1){
    width: 50%;
}

table tbody td {
    font-size: 14px;
    color: rgb(85, 85, 85);
}

table tr:nth-child(even) {
    background-color: rgb(192, 238, 255);
}

.filters{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 250, 255);
}

input[type=checkbox], select{
    margin-right: 5px;
    margin-left: 15px;
}

.container{
    width: 100%;
    height: 80px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: rgb(85, 85, 85);
}

.notification{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
.image{
    margin-top: 200px;
}
.header{
    width: 70%;
    margin: auto;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 7px 7px 13px rgb(84, 84, 84);
}
